{% extends '../base.html' %}

{% block title %} {{post.title}} {% endblock %}


{% block content %}
<a href="{% url 'post_delete' post.id %}">Delete</a>
<a href="{% url 'post_update' post.id %}">Edit</a>
<hr>
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<hr>


<form method="post" action="{% url 'comment_create' post.id %}">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Comment"></input>
</form>




<h2>Comments:</h2>
{% for comment in post.comments.all %}
	<hr>
	<p>Name : {{ comment.name }}</p>
	<p>Email : {{ comment.email }}</p>
	<h3>Comment : {{ comment.body }}</h3>
	<hr>
{% endfor %}




{% endblock %}

